/* GLOBAL */

:root {
  --fs1000: clamp(3.375rem, 5vw + 1.5rem, 5rem);
  --fs900: clamp(2.5rem, 2vw + 1.75rem, 3.125rem);
  --fs800: clamp(1.938rem, 1vw + 1.5rem, 2.813rem);
  --fs700: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  --fs600: clamp(1.25rem, 1vw + 1rem, 1.875rem);
  --fs500: clamp(1.125rem, 1vw + 0.75rem, 1.75rem);
  --fs400: clamp(0.875rem, 1vw + 0.5rem, 1.5rem);
  --fs300: clamp(0.813rem, 1vw + 0.5rem, 1.375rem);
  --fs200: clamp(0.75rem, 1vw + 0.5rem, 1.125rem);
  --fs100: clamp(0.625rem, 1vw + 0.25rem, 1rem);
  --font-family: "Inter", sans-serif;
  --header-height: 6rem;
  --bg: #121120;
  --dark-gray: #282836;
  --blue: #0068f6;
  --text-white: #f5f5f5;
  --text-gray: #6d6c75;
  --text-alpha: rgba(245, 245, 245, 0.8);
}
html {
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: clip;
}
body > * {
  width: 100%;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
  text-decoration: none;
  color: var(--text-white);
}
img {
  display: block;
}
ol,
ul {
  list-style: none;
}

/* SHARED */
section {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding-top: var(--header-height);
  background-color: var(--bg);
  box-sizing: border-box;
}

/* BEM */
.header {
  height: var(--header-height);
  background-color: var(--bg);
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  max-width: 2000px;
}
.header__content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
}
.header__left {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  padding: 1rem;
}
.logo__img {
  height: 34px;
}
.socials {
  display: flex;
}
.socials__link {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 5px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &:hover {
    background-color: var(--dark-gray);
  }
  &:hover path {
    fill: var(--text-white);
  }
}
.socials__img {
  height: 24px;
  & path {
    transition: fill 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    fill: var(--text-gray);
  }
}
.header__right {
  height: 100%;
  padding-right: 20px;
}
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar__list {
  width: fit-content;
  display: flex;
  gap: 1rem;
}
.navbar__link {
  padding: 0.5rem 1rem;
  transition: background-color color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 5px;
  color: var(--text-gray);
  font-size: var(--fs200);
  font-weight: 500;
  &:hover {
    background-color: var(--dark-gray);
    color: var(--text-white);
  }
}
.welcome-section {
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    width: 100%;
    min-height: 50%;
    aspect-ratio: 2.49;
    position: absolute;
    bottom: 0;
    background-image: url("https://raw.githubusercontent.com/rafJagCode/tech_icons/2883610f1a8f3a820a3e448c5190102ecc00fb0c/waves_svg/waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
.welcome-section__content {
  margin: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 3.5rem;
  padding-top: 2rem;
}
.hello {
  text-align: center;
  font-size: var(--fs800);
  color: var(--text-white);
  font-weight: 600;
}
.photo {
  position: relative;
  height: 154px;
  aspect-ratio: 1;
  background: rgb(18, 17, 32);
  background: linear-gradient(
    180deg,
    rgba(18, 17, 32, 0.9724090319721639) 20%,
    rgba(34, 32, 46, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 3px 0px 1px var(--text-gray);
}
.photo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: clip;
}
.intro {
  position: relative;
  &:before {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: linear-gradient(
        270.51deg,
        rgba(255, 156, 84, 0.4) 35.86%,
        rgba(255, 255, 255, 0.216033) 52.65%,
        rgba(0, 0, 0, 0) 72.38%
      ),
      radial-gradient(
        69.09% 95.18% at 42.78% 42.58%,
        #621abe 0%,
        rgba(36, 33, 75, 0) 100%
      );
    opacity: 0.94;
    filter: blur(100px);
  }
}
.intro p {
  text-align: center;
  font-size: var(--fs1000);
  color: var(--text-alpha);
  font-weight: 900;
}
.projects-section {
  padding: 0 1rem var(--header-height) 1rem;
  display: flex;
}
.projects-section__content {
  display: grid;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.projects-header {
  width: fit-content;
  position: relative;
  margin: 6rem auto;
  &:before {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: linear-gradient(
        270.51deg,
        rgba(255, 156, 84, 0.4) 35.86%,
        rgba(255, 255, 255, 0.216033) 52.65%,
        rgba(0, 0, 0, 0) 72.38%
      ),
      radial-gradient(
        69.09% 95.18% at 42.78% 42.58%,
        #621abe 0%,
        rgba(36, 33, 75, 0) 100%
      );
    opacity: 0.94;
    filter: blur(100px);
  }
}
.projects-header__title {
  position: relative;
  text-align: center;
  font-size: var(--fs1000);
  color: var(--text-alpha);
  font-weight: 900;
  &:before {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: linear-gradient(
        270.51deg,
        rgba(255, 156, 84, 0.4) 35.86%,
        rgba(255, 255, 255, 0.216033) 52.65%,
        rgba(0, 0, 0, 0) 72.38%
      ),
      radial-gradient(
        69.09% 95.18% at 42.78% 42.58%,
        #621abe 0%,
        rgba(36, 33, 75, 0) 100%
      );
    opacity: 0.94;
    filter: blur(100px);
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
  justify-content: center;
}
.card {
  border-radius: 7px;
  background-color: var(--dark-gray);
  &:hover {
    scale: 1.03;
    & .card__img--h {
      background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/hss.gif?raw=true");
    }
    & .card__img--p {
      background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/p.gif?raw=true");
    }
    & .card__img--k {
      background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/k.gif?raw=true");
    }
    & .card__link-text {
      color: var(--blue);
    }
  }
}
.card__content {
  padding: 1em;
}
.card__img {
  width: 400px;
  height: 189px;
  background-size: contain;
}
.card__img--h {
  background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/hss1.png?raw=true");
}
.card__img--p {
  background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/p1.png?raw=true");
}
.card__img--k {
  background-image: url("https://github.com/rafJagCode/tech_icons/blob/main/projects_gifs/k1.png?raw=true");
}
.card__caption {
  display: flex;
  padding-top: 1em;
  gap: 0.5em;
}
.card__icon-container {
  display: flex;
  align-items: center;
}
.card__icon {
  height: 35px;
  aspect-ratio: 1;
}
.card__title {
  font-size: var(--fs200);
  font-weight: 500;
}
.card__link-text {
  margin-top: 0.5em;
  font-size: var(--fs100);
  font-weight: 200;
  color: var(--text-gray);
}
@media (width<500px) {
  .logo {
    padding: 0.5rem;
  }
  .logo__img {
    height: 24px;
  }
  .socials__link {
    height: 32px;
    width: 32px;
  }
  .socials__img {
    height: 16px;
  }
  .navbar__list {
    gap: 0;
  }
  .navbar__link {
    padding: 0.5rem 0.6rem;
  }
}
@media (width<550px) {
  .intro p {
    font-size: var(--fs900);
  }
  .projects-header__title {
    font-size: var(--fs900);
  }
  .card__img {
    width: 250px;
    height: 118px;
  }
}
@media (width<1450px) {
  .cards {
    grid-template-columns: auto;
  }
}
@media (height>1080px) {
  section {
    height: 1080px;
    min-height: unset;
  }
}
